/* Modal is broken at the bottom, code is commeneted out!*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* For main-container (Fixes footer) */
html,
body {
  height: 100%;
  position: relative;
}


body {
  background-color: #f8f8ff;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* For Logo at the top */

.t-one {
  position: absolute;
  color: #4CAF50;
  padding-left: 5px;
  font-size: 30px;
  top: -30; 
}

span {
  font-size: 30px;
  color: #f8f8ff;
}

/* End of Logo */


/* DO NOT ALTER (CODE UNDERNEATH) */
.mySlides {
  display: none;
}

img {
  vertical-align: middle;
  height: 50%;
  background-size: cover;
  object-fit: cover;
  object-position: 50% 50%;
}
/* DO NOT ALTER (CODE ABOVE) */

/* Main Container */

.main-container {
  /* will cover the 100% of viewport */
  min-height: 100vh; 
  overflow: hidden;
  display: block;
  position: relative;
  /* height of the footer */
  padding-bottom: 100px; 
 } 

/* End of Main Container */

/* Default Fonts */
h1,
h2 {
  color: #4CAF50;
}

h1 {
  font-size: 50px;
}


h2,
.aboutStarted {
  color: #f8f8ff;
  font-size: 30px;
}

.aboutStarted {
  text-align: center;
}

.col .aboutStarted h2 {
  padding-top: 175px;
}

h3 {
  font-size: 25px;
  padding-right: 15px;
  padding-left: 15px;
}

/* Slideshow Animation */

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  background-size: cover;
  background: no-repeat center center fixed;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

/* Disables Slideshow Animation for smaller/less powerful devices */
@media only screen and (max-width: 767px) {
  .mySlides,
  .slideshow-container,
  .prev,
  .next,
  .dot-container,
  .fade,
  .dot {
    display: none;
  } 
} 
  
  /* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #4CAF50;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #333;
  opacity: 0.8;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  }
  
  /* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover,
.prev:focus,
.next:focus,
.prev:active,
.next:active {
  -webkit-animation-name: pulse-grow-on-hover;
  animation-name: pulse-grow-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

  /* Pulse Grow Animation */

@-webkit-keyframes pulse-grow-on-hover {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes pulse-grow-on-hover {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

/* End of Animation */

  
  /* Caption text */
  .text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dot-container {
    padding-top: 15px;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #333;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    padding-top: 1px;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

/* End of Animation */

/* NavBar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px
  }
  
  li a:hover {
  font-style: italic;
  text-decoration: underline;
  }

  .navbar {
    border-bottom: 1px solid #4CAF50;
  }
  
  .active {
    background-color: rgba(76, 175, 80, 0.6);
    font-style: italic;
    text-decoration: underline;
  }

  @media only screen and (max-width: 767px) {
    .navbar {
      flex-direction: column;
    }

    .t-one, span {
      display: none;
    }
  }

  .tester-pic {
    display: none;
    background-size: cover;
    object-fit: cover;
    object-position: 50% 50%;
  }

  /* Activates the image instead of slideshow */
  @media only screen and (max-width: 767px) {
    .tester-pic {
      display: inherit;
  }
}
  

/* End of NavBar */

.span-class {
  float: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Services Containers */

.container,
.mobile-container,
.sign-up-container {
  padding-left: 11px;
  padding-right: 11px;
  font-size: 18px;
  background-color: #333;
  color: #4CAF50;
}

.container {
  display: flex;
}

.mobile-container {
  padding-right: 80px;
  padding-left: 80px;
  display: flex;
}

.mobile-container > .flex-grid {
  width: 100%;
  vertical-align: middle;
}

/* Deactivates reduced size div and it all of its content */
.reduced-size {
  display: none;
}

.container p {
  color: #4CAF50;
}

@media only screen and (max-width: 468px) {
  .reduced-size {
    display: grid;
    display: inherit;
  }
  
  .mobile-responsive {
    display: none;
  }
}  

@media only screen and (max-width: 615px) {
  .container {
    display: grid;
  } 
}  

@media only screen and (max-width: 615px) {
  .col p {
    font-size: 15px;
  } 
}  

@media only screen and (max-width: 615px) {
  .container h2 {
    font-size: 15px;
  } 
}

@media only screen and (max-width: 540px) {
  .container .col p {
    font-size: 13px;
  }

  .container .col h2 {
    font-size: 13px;
  }

  .container .moreBtn {

    font-size: 16px;
  }
}

@media only screen and (max-width: 497px) {
  .container .col p {
    font-size: 11px;
  }

  .container h2 {
    font-size: 11px;
  }

  .container .moreBtn {
    font-size: 11px;
  }
}


/* Our Services */

.flex-grid {
  display: flex;
  padding-top: 31px;
  padding-bottom: 31px;
}

.col,
.col-fix {
  flex: 1;
  border-style: solid;
  padding-left: 25px;
  padding-right: 25px;
}

/* Fixes text not being placed correctly */
@media only screen and (max-width: 930px) {
  .col h2 {
    font-size: 23px;
  }
  
  .col p {
    font-size: 17px;
  }
}

  /* Customer Satisfaction  */
  .background {
    background-color: #333;
    color: #4CAF50;
    padding-top: 15px;
  }
  
  .background p {
    text-align: center;
  }
  
  .background-container {
    padding-bottom: 55px;
    padding-right: 35px;
    padding-left: 35px;
  }

  .forced-spot {
  background-color: #333;
  padding-top: 5px;
}

.extra {
  border: 2px solid #4CAF50;
}


/* Sign Up Button */

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.sign-up-container {
  padding: 16px;
}

/* The Modal (background) */

.signup-modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(51, 51, 51, 0.9);
  padding-top: 50px;
}


/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #4CAF50;
  width: 80%; 
}


/* Style the horizontal ruler */

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

 
/* The Close Button (x) */

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #4CAF50;
  cursor: pointer;
}


/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
     width: 100%;
  }
}

/* End of index.html */

/*  For classes.html */

.new-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  text-align: center;
  margin: auto;
  justify-content: center;
}

/* For all images that are using the same class name on classes.html */
.main-style {
  display: grid;
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 50% 50%;
  padding-right: 5px;
  padding-left: 5px;
  }

  @media only screen and (max-width: 1450px) {
    .main-style {
      height: 350px;
      font-size: 35px;
    } 
  }  

.animation:hover {
  opacity: 96%;
  display: inline-block;
  color: rgba(0, 0, 0, 0);
}

.new-row div {
  display: flex; 
  width: 40%;
  justify-content: center;
  flex-direction: column;
  opacity: 85%;
}

/* Text */

.container-text {
  color: #4CAF50;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
}

@media only screen and (max-width: 890px) {
  .container-text p {
    font-size: 29px;
  } 
}

@media only screen and (max-width: 595px) {
  .container-text p {
    font-size: 17px;
  } 
}

.new-row div {
  width: 30%;
  height: 70%;
}

.center-text {
  position: absolute;
  display: grid;
  font-size: 50px;
  width: 29%;
}

@media screen and (max-width: 1600px) {
   .center-text {
     font-size: 43px;
   }
}

@media screen and (max-width: 1470px) {
   .center-text {
     font-size: 33px;
     padding-right: 15px;
   }
}

@media screen and (max-width: 1246px) {
   .center-text {
     font-size: 27px;
     padding-right: 15px;
   }
}

@media screen and (max-width: 1072px) {
   .center-text {
     font-size: 25px;
     padding-right: 45px;
   }
}

.button,
.moreBtn,
.sign-up,
.mobile-sign-up {
  background-color: #333;
  opacity: 0.9;
  border: none;
  color: #4CAF50;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21.3px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Alt for weaker devices and lower res */
.mobile-sign-up {
  border: 2px solid #4CAF50;
  font-size: 15px;
}

.moreBtn {
  text-decoration: underline;
}

.sign-up {
  border: 2px solid #4CAF50;
}

@media screen and (max-width: 467px) {
  .sign-up {
    font-size: 25px;
    padding: 15px 15px;
  }
}

.button:hover,
.moreBtn:hover {
  opacity: 1;
  font-style: italic;
  text-decoration: underline;
}

.wrapper,
.info-container,
.media-icons {
  padding-top: 35px;
  text-align: center;
}

/* Used to center moreBtn container in the middle */
.info-container {
  text-align: center;
  /* Stops the extra padding being added */
  padding-top: 0px;
}

/*Covid-19 Notification*/
#cookieConsent {
  background-color: #333;
  min-height: 26px;
  font-size: 14px;
  color: #f8f8ff;
  line-height: 26px;
  padding: 8px 0 8px 30px;
  font-family: "Trebuchet MS",Helvetica,sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 9999;
}

#cookieConsent a {
  color: #4B8EE7;
  text-decoration: underline;
}

#cookieConsent a.cookieConsentOK {
  background-color: #4CAF50;
  color: #f8f8ff;
  display: inline-block;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
  float: right;
  margin: 0 10px 0 10px;
  text-decoration: none;
}

/* MODAL */
.button-exit {
  color: #f8f8ff;
  text-decoration: none;
}

/* End of notification */

.media-icons {
  font-size: 40px;
}

/* Fixes line */
@media only screen and (max-width: 574px) {
  .media-icons {
    font-size: 29px;
  } 
} 


/* Code provided by FontAwesome */
.fa {
  padding: 2px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: #f8f8ff;
}
      
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}


/* About US.html */

.about-container {
  background-color: #333;
  height: 250px;
  padding-top: 1px;
}

.about-container h1 {
  text-align: center;
  color: white;
}

.about-container p {
  color: white;
  text-align: center;
  font-size: 19px;
}

/* End of About US.html */



/* Footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
}

footer p {
  text-align: center;
  color: #f8f8ff;
}