* {
  box-sizing: border-box;
}

body {
    background-color: #f8f8ff;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

/* For Logo at the top */

.t-one {
  position: absolute;
  color: #4CAF50;
  padding-left: 5px;
  font-size: 30px;
  top: -30; 
}

span {
  font-size: 30px;
  color: #f8f8ff;
}

/* End of Logo */


/* DO NOT ALTER */
.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    height: 50%;
    background-size: cover;
    object-fit: cover;
    object-position: 50% 50%;
}

/* DO NOT ALTER - consists of core elements */

/* Default Fonts */
h1 {
  color: #4CAF50;
  font-size: 50px;
}

h2 {
  color: #f8f8ff;
  font-size: 30px;
}

h3 {
  color: #4CAF50;
  font-size: 25px;
  padding-right: 15px;
  padding-left: 15px;
}

/* Slideshow Animation */

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    background-size: cover;
    background: no-repeat center center fixed;
    border: 0.5px solid #4CAF50;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #4CAF50;
    opacity: 0.8;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover, .prev:focus, .next:focus, .prev:active, .next:active {
    -webkit-animation-name: pulse-grow-on-hover;
    animation-name: pulse-grow-on-hover;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

  /* Pulse Grow Animation */

@-webkit-keyframes pulse-grow-on-hover {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes pulse-grow-on-hover {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

/* End of Animation */

  
  /* Caption text */
  .text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #333;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    padding-top: 3;
    bottom: 50;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

/* End of Animation */

/* NavBar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px
  }
  
  li a:hover {
  font-style: italic;
  text-decoration: underline;
  }
  
  .active {
    background-color: #4CAF50;
    font-style: italic;
    text-decoration: underline;
  }

/* End of NavBar */

.span-class {
  float: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Services Containers */

.container {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  background-color: #333;
  color: #4CAF50;
}

.container p {
  color: #4CAF50;
}

/* Our Services */

.flex-grid {
  display: flex;
  padding-top: 31px;
  padding-bottom: 31px;
}

.col {
  flex: 1;
  border-style: solid;
  padding-left: 25px;
  padding-right: 25px;
}

/* For images */
  .column {
    float: left;
    width: 25%;
  }
  
  .column img {
    width: 100%;
    height: 250px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  }

footer p {
  text-align: center;
  color: #ffffff;
}

/*  Cooking Classes */

/* End of Cooking Classes */